<h1>Edit Customer</h1>
<form action="<%= allRoutes.customers.BASE_API %><%= allRoutes.customers.EDIT_BY_ID.replace(':id', customer.id) %>" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= customer.name %>">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= customer.email %>">
    <label for="phone">Phone:</label>
    <input id="phone" name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="10" value="<%= customer.phone %>">
  <button type="submit">Update</button>
</form>
<a href="<%= allRoutes.customers.BASE_API %><%= allRoutes.customers.GET_ALL %>">Back to Customers List</a>